@import '../../../styles/variables.scss';
@import '../../../styles/mixin.scss';

.gallery {
   border-radius: 25px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 80px;
   width: 90%;
   align-items: stretch;

   @include tablette() {
      grid-gap: 30px;
   }
   @include mobile() {
      grid-template-columns: 1fr;
   }

   figure {
      transition: transform 0.3s;
      height: 100%;
   }

   figure:hover {
      transform: scale(1.01);
   }
   figure:hover h3 {
      opacity: 1;
   }
}
