@import '../../../styles/variables.scss';

.gallery {
   border-radius: 25px;
   display: grid;
   grid-template-columns: 5fr 5fr;
   grid-column-gap: 80px;
   grid-row-gap: 80px;

   figure {
      transition: transform 0.3s;
   }

   figure:hover {
      transform: scale(1.01);
   }
   figure:hover h3 {
      opacity: 1;
   }
}
