@import '../../styles/variables.scss';

#portfolio {
   background-color: $grey-color;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   padding: 30px 80px;

   h2 {
      font-family: 'Romanesco', cursive;
      font-size: 50px;
      color: $text-color;
   }
}
