@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

#portfolio {
   background-color: $grey-color;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   padding: 50px 120px 70px 120px;
   @include tablette() {
      padding: 50px 80px 70px 80px;
   }
   @include small-mobile() {
      padding: 45px 40px 60px 40px;
      gap: 20px;
   }
   @include micro-mobile() {
      padding: 45px 15px 50px 15px;
   }

   h2 {
      font-family: 'Yellowtail', cursive;
      font-size: 50px;
      color: $text-color;
      @include mobile() {
         font-size: 40px;
      }
      @include micro-mobile() {
         font-size: 30px;
      }
   }

   p {
      font-size: 20px;
      margin-bottom: 30px;
      text-align: center;
      @include mobile() {
         font-size: 16px;
      }
      @include small-mobile() {
         font-size: 14px;
      }
   }
}
