@import '../../../styles/variables.scss';

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   backdrop-filter: blur(3px);
   width: 100%;
   height: 30px;
   position: fixed;
   top: 0; /* Fixe le header en haut de la fenêtre */
   z-index: 100; /* Pour qu'il soit toujours au dessus des autres*/

   h1 {
      height: 100%;
      display: flex;
      align-items: center;
   }

   nav {
      height: 100%;
      display: flex;
      align-items: center;
   }

   ul {
      display: flex;
      list-style-type: none;
      height: 100%;
      display: flex;
      align-items: center;
      li {
         height: 100%;
         display: flex;
         align-items: center;
         a {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 8px;
            background-color: rgba($text-color, 0.3);
            color: $white-color;
            font-size: 15px;
            font-weight: 500;
            transition:
               background-color 1s ease,
               color 1s ease;
         }

         .first-nav {
            border-radius: 4px 0 0 4px;
         }

         .last-nav {
            border-radius: 0 4px 4px 0;
         }

         a.active {
            background-color: rgba($main-color, 0.9);
            color: $white-color;
         }
      }
   }
}
