@import '../../styles/styles.scss';
@import '../../styles/mixin.scss';

.projet {
   margin: 70px 100px;
   max-width: 1400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
   @include mobile() {
      margin: 60px 30px;
   }
   @include micro-mobile() {
      margin: 60px 10px;
   }

   .container-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      h2 {
         font-family: 'Yellowtail', cursive;
         font-size: 70px;
         @include mobile() {
            font-size: 40px;
         }
         @include small-mobile() {
            text-align: center;
         }
      }

      p {
         text-align: center;
         @include mobile() {
            font-size: 16px;
         }
      }

      .tags {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         gap: 10px;
         margin-top: 20px;

         div {
            padding: 5px 25px;
            background-color: $main-color;
            border-radius: 15px;
            color: $white-color;
            font-size: 14px;
            @include small-mobile() {
               padding: 3px 15px;
            }
            @include micro-mobile() {
               font-size: 11px;
            }
         }
      }
   }

   .container-img-site:hover img {
      filter: brightness(70%); // Ajoute un filtre au survol
   }
   .container-img-site:hover .link {
      opacity: 1;
   }

   .container-img-site {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: filter 0.3s;
      width: 50%;
      @include tablette() {
         width: 70%;
      }
      @include mobile() {
         width: 80%;
      }
      @include small-mobile() {
         width: 90%;
      }

      .img-site {
         width: 100%;
         object-fit: contain;
         box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
         border-radius: 10px;
      }
      .link {
         position: absolute;
         opacity: 0;
         transition: opacity 0.3s ease;
         display: flex;
         gap: 10px;
         a {
            padding: 10px 50px;
            background-color: $text-color;
            border-radius: 15px;
            color: $white-color;
            font-size: 16px;
            transition: background-color 0.3s;
            @include small-mobile() {
               font-size: 14px;
               padding: 5px 25px;
            }
            @include very-small-mobile() {
               font-size: 12px;
               padding: 3px 18px;
            }
         }

         a:hover {
            background-color: $main-color;
         }
      }
   }

   .collapse {
      width: 60%;
      @include tablette() {
         width: 80%;
      }

      @include mobile() {
         width: 90%;
      }
   }
}
